body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  text-align: center;
  border-right: 250px solid #FAD799;
  border-left: 250px solid #EFC680;
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin-top: 50px;
  margin: auto;
  max-width: 960px;
  width: 100%;
  text-align: center;
  height: 100%;
}


.allSavedTweets {
  margin-top: 35px;
}

.savedTweet {
  background-color: #fafcfb;
  padding: 15px;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 15px;
  font-family: 'Catamaran', sans-serif;
  border-radius: 20px;
  -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
  -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
  box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.savedTweet:hover {
  top: -5px;
}

.loggedIn {
  margin-bottom: 50px;
  min-height: 30px;
  padding-top: 30px;
  margin-right: 10px;
}

.answer .score {
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.container {
  min-height: 250px;
}

.quote {
  color: #667380;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 20px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  min-height: 90px;
  -webkit-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
  -moz-box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
  box-shadow: 7px 7px 15px -17px rgba(46,50,60,0.9);
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background-color: #fafcfb;
}

.footer-text  {
  text-align: center;
  width: 100%;
  bottom: 5px;
  font-size: 9px;
  color: #667380;
  background-color: #fafcfb;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: -5px;
}





